<header id="header">
    <div class="top-hd">
        <div class="all full-width-no-limit">
            <div class="main">
                <div class="left">
                    <a href="javascript:;" class="contact-link">Tỷ giá: 1<i class="fa fa-yen"
                            style="margin-right:0"></i> = 3,430</a><a href="mailto:info@tomoniglobal.jp"
                        class="contact-link"><i class="fa fa-envelope"></i>info@tomoniglobal.jp</a>

                </div>
                <div class="right">
                    <ul class="sns-ul">
                        <li id="loginlink"><a href="javascript:;" routerLink='/sign-in'>Đăng nhập</a> | <a href="javascript:;" routerLink="/sign-up">Đăng
                                ký</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-hd">
        <div class="all">
            <div class="main">
                <div class="logo">
                    <a href="javascript:;" routerLink=''>
                        <img src="assets/pages/images/logo.png" alt=""></a>
                </div>
                <div class="activity-info">
                    <div class="activity-thumb">
                        <div class="thumb-img">
                            <div class="circle"><i class="fa fa-phone"></i></div>
                        </div>
                        <div class="info">
                            <h4 class="title">Hotline</h4>

                            <p><a href="tel:028-612-1100">028-612-1100</a></p>
                        </div>
                    </div>
                    <div class="activity-thumb">
                        <div class="thumb-img">
                            <div class="circle"><i class="fa fa-clock-o"></i></div>
                        </div>
                        <div class="info">
                            <h4 class="title">Giờ hoạt động</h4>
                            <p><a href="javascript:;">08:30 am - 05:30 pm</a></p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>


<nav class="" id="main-nav">
    <div class="">
        <div class="main">
            <div class="inner">
                <a class="navbar-toggle" (click)="clickEvent($event)"  [ngClass]="{'open': toggle}"><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span></a>
                <ul class="main-nav nav-ul">
                    <li class="trangchu"><a href="javascript:;" routerLink=''>TRANG CHỦ</a></li>
                    <li class="gioithieu"><a href="gioi-thieu-4/ve-chung-toi-12.html">GIỚI THIỆU</a></li>
                    <li class="huongdan"><a href="huong-dan-3/huong-dan-dat-hang-13.html">HƯỚNG DẪN</a></li>
                    <li class="bieuphi"><a href="bieu-phi-hang-order-1/chi-phi-mot-don-hang-5.html">BIỂU PHÍ</a>
                    </li>
                    <li class="chinhsach"><a href="chinh-sach-5/dieu-khoan--khieu-nai-15.html">CHÍNH SÁCH</a>
                    </li>
                    <li class="congcudathang"><a href="cong-cu.html">CÔNG CỤ ĐẶT HÀNG</a></li>
                    <li class="dathangnhanh"><a href="dat-hang-nhanh.html">ĐẶT HÀNG MOBILE</a></li>
                    <li class="nav-li-input custom-form">
                        <div class="d-flex justify-content-center nav-select-custom">
                            <div class="input-group">
                                <input class="form-control py-2 b" type="text" placeholder="Search" style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;" id="txt-search">
                                <div class="input-group-append" style="
    border-top-right-radius: 25px;border-bottom-right-radius: 25px;">
                                    <div class="input-group-text bg-transparent" style="border-top-right-radius: 50px;border-bottom-right-radius: 50px;" id="search-link"><i class="fa fa-search"></i></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="right">


                </div>
            </div>
        </div>
    </div>
</nav>