<main id="main-wrap">
    <div class="all">
        <div class="main">
            <div class="sec form-sec">
                <div class="sec-tt">
                    <h2 class="tt-txt">Đăng nhập</h2>
                    <p class="deco">
                        <img src="../../../assets/pages/images/title-deco.png" alt="">
                    </p>
                </div>
                <div class="primary-form">

                    <div class="form-row">
                        <div class="lb">Tên đăng nhập / Nickname / Email</div>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập / Nickname / Email" />

                    </div>
                    <div class="form-row mt-2">
                        <div class="lb">Mật khẩu đăng nhập</div>
                        <input name="" type="password" id="" class="form-control" placeholder="Mật khẩu đăng nhập" />

                    </div>
                    <div class="form-row mt-2">
                        <img id="" class="imageClass" src="../../../assets/pages/images/code.jpg"
                            style="height:50px;width:180px; float: left" />
                        <input type="text" maxlength="5" class="custom-width-1" style="float: left" />
                    </div>
                    <div class="form-row">
                        <a href="javascript:;" title="Lấy lại pass bằng email" style="margin-right: 15px;">Lấy
                            lại pass bằng Email</a>
                        |
                        <a href="javascript:;" routerLink='/sign-up' style="margin-left: 15px" title="Đăng ký tài khoản mới">Đăng ký tài
                            khoản mới</a>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-success">Đăng nhập</button>

                    </div>
                </div>
            </div>
        </div>
     </div>   
</main>