<footer id="footer">
    <div class="all">
        <div class="main">
            <div class="inner">
                <div class="logo">
                    <a href="#">
                        <img src="assets/pages/images/logo.png" alt=""></a>
                </div>
                <div class="ft-widgets">
                    <div class="widget div5">
                        <div class="widget-tt">Công ty</div>
                        <ul class="ft-list">
                            <li class="width100">
                                <a href="gioi-thieu-4/ve-chung-toi-12.html">Về Chúng tôi</a>
                            </li>
                            <li class="width100">
                                <a href="chinh-sach-5/dieu-khoan-dat-hang-15.html">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget div5">
                        <div class="widget-tt">NGÀNH HÀNG</div>
                        <ul class="ft-list">
                            <li class="width100">
                                <a href=""
                                    target="_blank">Thời trang nữ</a>
                            </li>
                            <li class="width100">
                                <a href=""
                                    target="_blank">Thời trang nam </a>
                            </li>
                            <li class="width100">
                                <a href=""
                                    target="_blank">Đồ dùng cho bé </a>
                            </li>
                            <li class="width100">
                                <a href=""
                                    target="_blank">Đồ Phượt </a>
                            </li>
                            <li class="width100">
                                <a href=""
                                    target="_blank">Nội thất </a>
                            </li>
                            <li class="width100">
                                <a href=""
                                    target="_blank">Điện tử </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget div5">
                        <div class="widget-tt">HỖ TRỢ</div>
                        <ul class="ft-list">
                            <li class="width100">
                                <a href="huong-dan-3/huong-dan-13.html">Hướng dẫn</a>
                            </li>
                            <li class="width100">
                                <a href="huong-dan-3/nap-tien-va-rut-tien-25.html">Nạp tiền</a>
                            </li>
                            <li class="width100">
                                <a href="huong-dan-3/mot-so-thac-mac-khi-moi-dat-hang-28.html">Câu hỏi thường
                                    gặp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget div5">
                        <div class="widget-tt">Liên hệ</div>
                        <ul class="ft-list">
                            <li class="width100"><a href="javascript:;">Hotline: <br />028-612-1100</a></li>
                            <li class="width100"><a href="javascript:;">Email:
                                    <br />info@tomoniglobal.jp</a></li>
                            <li class="width100"><a href="javascript:;">Địa chỉ: <br />栃木県河内郡上三川町大字上三川5101-1</a></li>

                        </ul>
                    </div>
                    <div class="widget div5">
                        <div class="widget-tt">MẠNG XÃ HỘI</div>
                        <ul class="ft-list">
                            <li class="social" target="_blank"><a
                                    href=""><i
                                        class="fa fa-facebook"></i></a></li>
                            <li class="social" target="_blank"><a
                                    href=""><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="social" target="_blank"><a
                                    href=""><i
                                        class="fa fa-instagram"></i></a></li>
                            <li class="social" target="_blank"><a href=""><i
                                        class="fa fa-skype"></i></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sys-txt">
        <strong>&copy; Copyright TomoniGlobal</strong>
    </div>
</footer>